<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About</h2>
<div class="summary">
    <p>
    I am a Graduate Research Assistant in Computer Science at the University of
    Michigan working with <a href="https://web.eecs.umich.edu/~kevinfu">
    Kevin Fu</a>. I am interested in attacking systems below the common abstractions
    at the often forgotten <b>physical layer</b> and defending systems against such
    attacks.
    </p>
</div><!--//summary-->
</section><!--//section-->
