<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Research Experience</h2>
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Graduate Research Assistant</h3>
                <div class="time">2016 - Present</div>
            </div><!--//upper-row-->
            <div class="company">University of Michigan, Ann Arbor</div>
        </div><!--//meta-->
        <div class="details">
            <p>
            
            </p>
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Undergraduate Research Assistant</h3>
                <div class="time">2014 - 2015</div>
            </div><!--//upper-row-->
            <div class="company">Google, London</div>
        </div><!--//meta-->
        <div class="details">
            <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
            
        </div><!--//details-->
    </div><!--//item-->
    
</section><!--//section-->
