<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Research Experience</h2>
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Graduate Research Assistant</h3>
                <div class="time">2016 - Present</div>
            </div><!--//upper-row-->
            <div class="company">University of Michigan, Ann Arbor</div>
        </div><!--//meta-->
        <div class="details">
            <p>
            I am a graduate research assistant in security working with <a
                href="https://web.eecs.umich.edu/~kevinfu">Kevin Fu</a>.
            We develop physical layer attacks against computers and defenses
            against those attacks. I am currently (as of September 2017)
            working on two papers to submit to Oakland S&amp;P.
            </p>
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Undergraduate Research Assistant</h3>
                <div class="time">2015 - 2016</div>
            </div><!--//upper-row-->
            <div class="company">Clemson University, Clemson</div>
        </div><!--//meta-->
        <div class="details">
            <p>
            At Clemson I primarily worked on ultra low power sensing network
            research with my undergraduate research advisor <a
             href="https://people.cs.clemson.edu/~jsorber/">Jacob Sorber</a>
            and then PhD student, now assistant professor<a href="http://josiahhester.com/cv/">Josiah Hester</a>.  
            There we produced one paper which can be found <a 
            href="http://ieeexplore.ieee.org/abstract/document/7572015/">here
            </a>.
            
        </div><!--//details-->
    </div><!--//item-->
    
</section><!--//section-->
