<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Research Projects</h2>
    <div class="intro">
        <p>Here are projects that I have been a part of. This list should
        continue to grow, hopefully.</p>
    </div><!--//intro-->
    <div class="item">
        <span class="project-title"><a
              href="https://spqr.eecs.umich.edu/papers/bolton-blue-note-IEEESSP-2018.pdf">Blue
              Note</a></span>
        -
        <span class="project-tagline">How intentional acoustic interference
            damages availability and integrity in hard disk drives and
            operating systems. </span>
        <ul>
            <li><a
                    href="https://spqr.eecs.umich.edu/papers/bolton-blue-note-IEEESSP-2018.pdf">
                    paper - IEEE Symposium on Security and Privacy (Oakland) - May 2018</a>
            </li>
            <li><a
                    href="https://drive.google.com/open?id=1gAa3i9KOLFedM19p1RsrNgxNQiQI-87MZCoWqR2Mrbs">
                    slides - Oakland - May 2018</a>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/v0yh9fG00zo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </ul>
    </div>
    <div class="item">
        <span class="project-title"><a
                href="http://ieeexplore.ieee.org/abstract/document/7572015/">Shoulder Angel </a></span>
        -
        <span class="project-tagline">Using a co-processor to monitor for
            errors and reprogram errant ultra low power wireless sensor nodes. </span>
        <ul>
            <li><a
                    href="http://ieeexplore.ieee.org/abstract/document/7572015/">
                    paper - IEEE Embedded Systems Letters - Dec 2016</a></li>
            <li><a href="https://dl.acm.org/citation.cfm?id=2817903">
                    poster abstract - SenSys (won best poster) - Nov 2015</a></li>
        </ul>
    </div><!--//item-->
</section><!--//section-->
