<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Research Projects</h2>
    <div class="intro">
        <p>Here are projects that I have been a part of. This list is
        still growing!</p>
    </div><!--//intro-->
    <div class="item">
        <span class="project-title"><a
                href="http://ieeexplore.ieee.org/abstract/document/7572015/">Shoulder Angel </a></span>
        -
        <span class="project-tagline">Using a co-processor to monitor for
            errors and reprogram errant ultra low power wireless sensor nodes. </span>
        <ul>
            <li><a
                    href="http://ieeexplore.ieee.org/abstract/document/7572015/">
                    IEEE Embedded Systems Letters - Dec 2016</a></li>
            <li><a href="https://dl.acm.org/citation.cfm?id=2817903">
            SenSys Best Poster - Nov 2015</li>
        </ul>
    </div><!--//item-->
</section><!--//section-->
