<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Cool Papers</h2>
    <div class="intro">
        <p>Here are some cool papers related to my research. You should check
        them out!.</p>
    </div><!--//intro-->
    <div class="item">
        <span class="project-title"><a href="https://spqr.eecs.umich.edu/papers/fookune-emi-oakland13.pdf">Ghost Talk</a></span>
        -
        <span class="project-tagline">Spoofing signals in pacemakers and microphones using EMI. </span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="https://spqr.eecs.umich.edu/papers/trippel-IEEE-oaklawn-walnut-2017.pdf">WALNUT</a></span>
        - 
        <span class="project-tagline">Using acoustic waves to spoof accelerometer signals. </span>
    </div><!--//item-->
</section><!--//section-->
